/* src/pages/invoices.css */
.invoice__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  